body {
    text-align: center;
    font-size:3vw;
    min-height:100vh;
    margin:0;
  }
  h1 {
    margin:0;
    padding: 10vw 0 2vw 0;
  }
  table {
    border-collapse: collapse;
    margin:0 auto;
  }
  table,tr,td,th {
    border:1px solid #aaa;
    padding:1vw 5vw;
    text-align: center;
  }
  a {
    font-size:2vw;
  }
  